html,
body {
  margin: 0;
}

.top {
  display: flex;
}

.page {
  display: flex;
}

.first_block {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.main_block {
  display: flex;
  flex-direction: column;
}

.application {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  margin-top: 21px;
  margin-left: 30px;
  height: 33px;
  width: 291px;
}

.save {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: right;
  color: #27be68;
  margin-top: 32px;
  margin-left:665px;
}

.user_info_block {
  display: flex;
  flex-direction: column;
  margin-left: 30px;

  background: #ffffff;
  box-shadow: 0px 2px 20px rgba(9, 36, 75, 0.05);
  border-radius: 10px;
  padding-bottom: 20px;
}

.user_info {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-top: 23px;
  border-bottom: 1px solid #0000001c;
  padding-bottom: 13px;
}

.user_name {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 10px;
}

.user_post {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}

.user_post {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 10px;
  color: #565d62;
  margin-bottom: 0px;
}

.document_info {
  width: 100%;
  margin-top: 10px;
  margin-left: 18px;
}

.docx {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #565d62b2;
  margin-top: 0px;
}

.doc_item {
  display: flex;
  margin-bottom: 10px;
}

.doc_info {
  display: flex;
  flex-direction: column;
}

.doc_title {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  color: #2f80ed;
}

.doc_ext {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #565d62;
}

.vector {
  width: 24px;
  height: 24px;
  margin-left: 4px;
  margin-right: 10px;
}

.buttons_block {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  margin-left: 30px;
  width: 250px;
  height: 170px;
}

.button {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-align: center;
  border-radius: 4px;
  padding: 14px 43px;
  width: 100%;
}

.txt {
  color: #09244b;
  background: #ffffff;
  border: 2px solid #09244b;
}

.txt_1 {
  color: #ffffff;
  border: 2px solid #2f80ed;
  background: #2f80ed;
}

.txt_2 {
  color: #2f80ed;
  background: #ffffff;
  border: 2px solid #2f80ed;
}

.main_info_block {
  margin-left: 20px;
}

.main_info_block__head {
  display: flex;
}

.second_block {
  height: 128px;
  width: 402px;
  border-radius: 10px;

  background: #ffffff;
  box-shadow: 0px 2px 20px rgba(9, 36, 75, 0.05);
  border-radius: 10px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
}

.value {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 32px;
}

.price {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: #27be68;
  margin-top: 4px;
}

.third_block {
  width: 336px;
  height: 128px;

  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 2px 20px rgba(9, 36, 75, 0.05);
  border-radius: 10px;
  padding-bottom: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 85px;
  height: 17px;
  margin-top: 23px;
}

.enter {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 17px;
}

.link_travel {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 18px;
}

.qw {
  margin-left: 20px;
}

.panel {
  display: flex;
  height: 50px;
width: 758px;
border-radius: 6px;
padding: 3px;
margin-top:20px;
border: 1px solid #E0E0E0
}

.button_panel{
    font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: center;
color: #4F4F4F;
align-self: center;
padding:12px 41.5px;
}

.active{
  font-family: Open Sans;
font-size: 15px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: center;
  background: #09244BE5;
    box-shadow: 0px 2px 20px 0px #09244B0D;
    border-radius: 6px;
    width:283px;
    align-self: center;
    padding:12px 49px;
    color:white;
    margin:0px;
    
}




/*
.panel_1{
    margin-left:43px;
    margin-right:40px;
}

.panel_2{
    background: #09244BE5;
    box-shadow: 0px 2px 20px 0px #09244B0D;
    border-radius: 6px;
    width:283px;
    align-self: center;
    margin-right:40px;
    padding:10px 0px;

*/


.first_card{
    height: 666px;
width: 369px;
border-radius: 10px;
box-shadow: 0px 2px 20px 0px #09244B0D;
margin-top:26px;
display:flex;
flex-direction: column;
}

.condition_us{
    font-family: Open Sans;
font-size: 12px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: justified;
color: #565D62;
margin-left:20px;
margin-top:15px;
}


.condition{
    font-family: Open Sans;
font-size: 12px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: justified;
color: #565D62;
margin-left:20px;
margin-top:17px;

}

.meaning{
    font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: justified;
color: #1F1F1F;
margin-left:20px;
margin-top:3px;
}

.button_block_2{
    display: flex;
    flex-direction: column;
    margin-top:23px;
    width: 329px;
    margin-left:20px;
    row-gap: 12px;
}


.txt_betton_1{
    font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.01em;
color: #09244B;
background: white;
border-radius: 4px;
height: 50px;
}

.txt_betton_2{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.01em;
    color:white;
    border-radius: 4px;
    height: 50px;
    background: #2F80ED;
    border: 0;
}

.txt_betton_3{
    font-family: Open Sans;
font-size: 16px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0.01em;
color:white;
border-radius: 4px;
height: 50px;
background: #E72430;
border:0 none;


}




.last_block{
  height: 652px;
width: 369px;
left: 935px;
top: 438px;
border-radius: 10px;
background: #FFFFFF;
box-shadow: 0px 2px 20px 0px #09244B0D;
margin-top:26px;
display: flex;
flex-direction: column;
}


.main_info_block__body{
  display: flex;
  gap:20px;

}

.condition_second1{
  
  font-family: Open Sans;
font-size: 12px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
margin-top:16px;
margin-left:20px;
}

.condition_second{
  font-family: Open Sans;
font-size: 12px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
margin-top:14px;
margin-left:20px;

}


.inputs{
  margin-left:20px;
  margin-top:5px;
  background: #FFFFFF;
border: 1px solid rgba(9, 36, 75, 0.5);
border-radius: 5px;
height: 40px;
text-indent: 10px;
margin-right:20px;
}

.last_button{
  background: #27BE68;
  color:white;
  font-family: Open Sans;
font-size: 16px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0.01em;
text-align: center;
height: 50px;
width: 329px;
border-radius: 4px;
border: 0;
margin:20px;
}